@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .user_details_gallery .col-lg-2 {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }

    .edit_gallery .col-sm-2{
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }
}

@media only screen and (min-width: 1199px) and (max-width: 1399px) {
    .user_details_gallery .col-lg-2 {
        flex: 0 0 25% !important;
        max-width: 25% !important;
    }
        .edit_gallery .col-sm-2 {
            flex: 0 0 25% !important;
            max-width: 25% !important;
        }
}