:root {
    --dark-color: #000000;
    --light-color: #fff;
    --font-22: 22px;

}

.login-box,
.register-box {
    width: 600px !important;
}

.main-btn {
    width: 100%;
    font-size: var(--font-22) !important;
    border: 2px solid var(--dark-color) !important;
    border-radius: 0 !important;
}