:root {
    --dark-color: #000000;
    --light-color: #fff;
    --border-color: #ced4da;
    --font-22: 22px;

}

.dark-text {
    color: #000000;
}

.font-22 {
    font-size: var(--font-22) !important;
}

.login-page {
    background: linear-gradient(rgba(84, 39, 145, 0.45),
            rgba(84, 39, 145, 0.45)), url('../assests/background-img.png') no-repeat;
    background-size: cover;
}

.login-box,
.register-box {
    width: 500px !important;
}

.main-btn {
    width: 100%;
    font-size: var(--font-22) !important;
    border: 1px solid var(--border-color) !important;
    border-radius: .25rem !important;
}

.login-card-body .form-control {
    font-size: var(--font-22) !important;
    padding: 23px 21px !important;
    color: var(--dark-color);
}

.login-logo img {
    -webkit-animation: spin 8s linear infinite;
    -moz-animation: spin 8s linear infinite;
    animation: spin 8s linear infinite;
    margin-bottom: 30px;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}