@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

:root {
    --primary-color: #542791;
    --secondary-color: #40C1E1;
    --dark-color: #000000;
    --light-color: #fff;
    --border-color: #707070;
    --dropdown-color: #D1D1D1;
    --font-22: 22px;

}

.secondary-color {
    background: #40C1E1 !important;
}

.gap-20 {
    gap: 20px;
}

.dark-text {
    color: var(--dark-color);
}

.input-border {
    border: 1px solid var(--dark-color) !important;
}

.font-22 {
    font-size: var(--font-22) !important;
}

.font-40 {
    font-size: 40px;
}

.input-padding {
    padding: 2px 8px 0px 8px !important;
}

.login-page {
    background: linear-gradient(rgba(84, 39, 145, 0.45),
            rgba(84, 39, 145, 0.45)), url('../assests/background-img.png') no-repeat;
    background-size: cover;
}

.login-box,
.register-box {
    width: 500px !important;
}

.login-card-body .form-control {
    font-size: var(--font-22) !important;
    padding: 23px 21px !important;
    color: var(--dark-color) !important;
}

.form-control::placeholder {
    color: var(--dark-color) !important;
}

.search_btn {
    background: var(--light-color);
}

.login-logo img {
    -webkit-animation: spin 8s linear infinite;
    -moz-animation: spin 8s linear infinite;
    animation: spin 8s linear infinite;
    margin-bottom: 30px;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.brand_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

}

.brand_logo img {
    height: 50px;
    width: 100px;
}

.table thead th {
    vertical-align: top !important;
    border-bottom: 0px !important;
    border-top: 0;
    font-weight: 400;
}

.table thead th:nth-last-child(1)::before {
    content: unset !important;
}

.table thead th:nth-last-child(1)::after {
    content: unset !important;
}

.table thead th:nth-child(1) {
    font-weight: 600;
}

.table thead th:nth-child(2) {
    font-weight: 600;
}

.table tbody tr td:nth-last-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.user_edit {
    padding: 0 !important;
}

.user_edit a {
    display: flex;
    height: 100%;
    width: 100%;
    height: 72px;
    padding: 0.75rem;
}


.search_btn input {
    font-size: 18px !important;
}

/* artist css */
.artist-btn {
    width: 100%;
    height: 100%;
    font-size: 18px !important;
    font-weight: 400;
    border-radius: 0 !important;
}

.pagination {
    justify-content: flex-end !important;
}

.page-link {
    font-size: 18px !important;
    color: var(--dark-color) !important;
    padding: 4px 12px !important;
}

.image_gallery a img {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.page-item.active .page-link {
    background-color: var(--secondary-color) !important;
    border-color: var(--dropdown-color) !important;
    color: var(--light-color) !important;
}

.backbtn {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user_details_profile img {
    height: 220px;
    width: 100%;
}

.load-more {
    width: 250px;
    display: flex;
    justify-content: center;
}

.input_search .form-control,
.input_search .input-group-append {
    height: calc(2.4rem + 2px) !important;
    font-size: 16px !important;
}

.input_search .form-control,
.input_search .btn {
    padding: 0.46875rem 0.75rem !important;
    line-height: 0.5 !important;
}

.input_search .btn {
    background: #fff;
    border-left: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow::before {
    content: '';
    position: absolute;
    height: 23px;
    width: 17px;
    background: url(../assests/down-arrow.svg);
    background-repeat: no-repeat;
    top: 15px;
    right: 5px;
    background-size: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none !important;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active,
.sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: var(--secondary-color) !important;
}

.main-btn {
    background-color: var(--secondary-color) !important;
    padding: 0.46875rem 0.75rem !important;
    font-size: 16px !important;
    border: none !important;
    border-radius: 4px !important;
    color: var(--light-color) !important;
    width: 100%;
}

.user_details_gallery img {
    height: 200px !important;
    width: 100%;
    object-fit: cover;
}

.custom-switch .custom-control-label::before {
    border-radius: 100px !important;
    width: 43px !important;
    height: 21px !important;
    border: 1px solid var(--secondary-color) !important;
    box-shadow: none !important;
    background-color: transparent !important;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    height: 17px !important;
    width: 17px !important;
    transform: translateX(21px) !important;
    background: var(--light-color) !important;
}

.custom-switch .custom-control-label::after {
    height: 17px !important;
    width: 17px !important;
    background: var(--secondary-color) !important;
}

.custom-control-input:checked~.custom-control-label::before {
    border: none !important;
    background-color: var(--secondary-color) !important;
}

.user_icon {
    position: absolute;
    top: 4px;
    right: 13px;
    gap: 10px;
}

.user_icon a {
    padding: 0 !important;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.user_icon a img {
    height: 15px;
}

.user_thumb {
    top: 45px;
}

.admin-modal {
    top: 86px !important;
}

.modal-header .close,
.modal-header .mailbox-attachment-close {
    margin: -7px 0 0 0 !important;
    font-size: 28px;
    color: var(--secondary-color) !important;
    opacity: 1 !important;
}

.app_setting img {
    height: 123px !important;
}

.justify-content-center.user_icon.app_icon.row.btn-group-sm {
    top: 44px;
}

.table_icon .btn {
    padding: 4px 7px !important;
}

.artist_logo img {
    height: 150px;
    width: 150px;
}

.artist_icon {
    left: 38px;
}

.user_details_gallery.app_setting {
    height: 123px;
}

.app-background {
    background-color: var(--secondary-color);
}

.background-color {
    background-color: var(--primary-color);
}

.main-color {
    background-color: var(--dark-color);
}

.second-color {
    background-color: var(--border-color);
}

.app-color-palette {
    height: 56px !important;
    width: 61px;
}

.color-paletee {
    display: flex;
    gap: 20px;
    position: relative;
}

.app_color {
    gap: 10px;
}

.app_color .app_icon {
    top: 0;
}

.user_icon a {
    height: 25px;
    width: 25px;
}