:root {
    --dark-color: #000000;
    --light-color: #fff;
    --font-22: 22px;

}

.login-page {
    background: linear-gradient(rgba(84, 39, 145, 0.45),
            rgba(84, 39, 145, 0.45)), url('../assests/background-img.png') no-repeat;
    background-size: cover;
}

.login-box,
.register-box {
    width: 500px !important;
}

.main-btn {
    width: 100%;
    font-size: var(--font-22) !important;
    border: 2px solid var(--dark-color) !important;
    border-radius: 0 !important;
}

input {
    font-size: var(--font-22) !important;
    padding: 23px 21px !important;
}